/*
@media (max-width: 767px)
{
}
*/

html {
    overflow-y: scroll;
}

.container * {
    font-family:'Open Sans', sans-serif;
}

#emergency-alerts-box {
    display:none;
    margin:0;
}

#emergency-alerts-box ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

#emergency-alerts-box h2 {
    margin:0;
    margin-bottom:10px;
}

.navbar {
    margin-bottom:0;
}

.navbar-header .navbar-brand {
    color:#555;
}

.search-box input {
    width:130px;
}

.page-header {
    margin:0;
    margin-bottom:10px;
    padding:0;
    border:0;
    float:right;
    width:100%;
}

.page-header .mini-menus {
    position:relative;
    z-index:10000\9; /* IE8 and below */
}

.banner-message {
    margin:0;
    margin-bottom:10px;
    padding:0;
}

.banner-message .alert {
    margin:0;
    padding:0;
    padding-top:40px\9; /* IE8 and below */
    padding-left:15px;
    padding-right:15px;
    padding-bottom:20px;
    padding-bottom:36px\9; /* IE8 and below */
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.menu-label {
    padding-left:15px;
}

.dropdown-menu {
    min-width:300px;
}

.dropdown-menu li a {
    padding-left:25px;
    color:#616161;
}

.dropdown-menu li p {
    padding:15px;
}

.dropdown-menu li p a {
    padding-left:0px;
}

.zebra-list {
    background-color:#fafcff;
    border-top:1px solid #e0edff;
    border-bottom:1px solid #e0edff;
}

#footer {
    margin-top:30px;
    margin-bottom:15px;
    text-align:center;
}

#footer-nav {
    margin-top:15px;
    margin-bottom:60px;
    font-size:12px;
}

#footer-nav a {
    margin-top:5px;
}

.showcase-splash-image {
}

.cropped-image-container {
    height:160px;
    overflow:hidden;
    margin-bottom:10px;
}

.cropped-image-container img {
    width:100%;
    border:0;
}

.cropped-image-container p {
    margin:0;
    padding:0;
    padding-top:5px;
    padding-left:5px;
    padding-bottom:5px;
    color:#555;
}

.thin-jumbotron {
    margin:0;
    padding:0;
    padding-left:0px !important;
    padding-right:0px !important;
    background-color:inherit;
    font-size:13px;
    line-height:1.3em;
}

.thin-jumbotron h1 {
    font-size:20px;
    margin:0;
    padding:0;
    padding-top:3px;
    padding-bottom:5px;
}

.thin-jumbotron h1 a {
    color:#333;
}

.thin-jumbotron {
    margin-top:-86px\9; /* IE8 and below */
}

/* IE9 and above */
:root .thin-jumbotron {
    margin-top:0;
}

.thin-jumbotron h1 a {
    font-size:20px\9; /* IE8 and below */
}

.thin-jumbotron img {
    padding-bottom:2px;
}

.splash-news-body {
    font-size:13px;
    /*text-align:justify;*/
    background-color:#ededed;
    background-color:#f5f5f5;
    background:url('../img/subtle-pattern-1.jpg');
    padding:5px;
    padding-top:8px;
    padding-left:10px;
    padding-right:10px;
    color:#474747;
    line-height:1.35em;
}

.thin-jumbotron img {
    border:0;
}

.thin-jumbotron ul {
  font-size:13px;
}

.featured h4 {
    margin-top:0;
    margin-bottom:0;
    padding-top:4px;
    padding-left:15px;
    padding-bottom:5px;
}

.featured-entry-splash-image-link {
    display: block;
}

.read-more-link {
    font-size:12px;
    margin-top:2px;
    padding-top:10px;
    padding-bottom:10px;
}

.recent-stories {
    margin-top:15px;
}

.recent-stories h4 {
    margin-left:14px;
    margin-bottom:0;
    padding-bottom:5px;
}

.recent-stories p {
    padding-left:0;
    border-top:1px solid #eee;
    padding-top:5px;
}

.featured-entries-header {
}

.featured-entries-header p {
    margin:0;
    margin-bottom:1px;
    padding:30px;
    background-color:#bbb;
    color:#fff;
    font-weight:bold;
    font-size:15px;
    line-height:1.3em;
    text-align:center;
    background-color:rgba(40, 200, 200, 0.8);
    background-color:rgba(205, 225, 225, 0.875);
    background-color:rgba(188, 215, 215, 0.9);
    background-color:rgba(205, 225, 225, 0.9);
    color:#005050;
    color:rgba(0, 80, 80, 0.8);
}

.featured-entries-header a {
}

.featured-ads-header p {
    margin:0;
    margin-bottom:1px;
    padding:20px;
    background-color:#777;
    color:#fff;
    font-size:13px;
    line-height:1.3em;
    text-align:center;
    background-color:rgba(225, 90, 0, 0.8);
    background-color:rgba(255, 100, 0, 0.8);
    background-color:rgba(225, 100, 0, 0.8);
    background-color:rgba(255, 142, 31, 0.8);
    background-color:rgba(255, 156, 56, 0.8);
    background-color:rgba(255, 142, 31, 0.7);
    background-color:rgba(255, 229, 180, 0.9);
    color:#005050;
    color:rgba(0, 80, 80, 0.8);
    color:#fff\9; /* IE8 and below */
}

/* IE9 and above */
:root .featured-ads-header p {
    color:rgba(0, 80, 80, 0.8);
}

.featured-ads-header p a {
    font-weight:bold;
    color:#D8EDF8\9; /* IE8 and below */
}

/* IE9 and above */
:root .featured-ads-header p a {
    color:inherit;
}

.announcements h4 {
    margin-top:0;
    margin-bottom:0;
    padding-top:4px;
    padding-left:15px;
    padding-bottom:5px;
}

.announcements ul {
    color:#aaa;
    margin-right:10px;
}

.announcements ul li {
    border-top:1px solid #eee;
    padding-top:5px;
}

.announcements ul li p {
    margin-bottom:0;
    padding-bottom:5px;
    color:#777;
}

.welcome_side_box_datestamp {
    font-size:11px;
    color:#777;
}

#page_entry {
}

#page_entry img {
    border:0;
}

#page_entry h2 {
    margin-top:0;
}

#page_entry h4 {
    margin-top:15px;
    margin-bottom:4px;
}

#page_entry #category_featured_entries_box ol,
#page_entry #category_featured_entries_box ul,
#page_entry #view_attachment_box ol,
#page_entry #view_attachment_box ul {
  margin:0;
  margin-left:0;
}

#page_entry #category_featured_entries_box ol li,
#page_entry #category_featured_entries_box ul li,
#page_entry #view_attachment_box ol li,
#page_entry #view_attachment_box ul li {
  list-style-type:none;
}

#story_date_box {
    margin-bottom:10px;
    padding-bottom:5px;
    font-size:small;
    border-bottom:5px solid #e8e8e8;
}

#story_date_box ul {
    margin:0;
    padding:0;
    list-style-type:none;
}

#story_date_box li {
    margin-right:25px;
    display:inline;
    color:#444;
}


@media (max-width: 767px)
{
    #story_date_box li {
        display:block;
    }
}

#single_page_splash_image {
    float:right;
}

#single_page_splash_image img {
    max-width:300px;
    margin-left:20px;
    margin-bottom:10px;
}

.category_options {
    margin-left:10px;
    display:inline;
    font-size:x-small;
}

#entry_additional_uploads h3 {
    margin:0;
    padding:0;
    margin-top:20px;
    margin-bottom:10px;
}

#entry_additional_uploads a {
    font-weight:normal;
    font-size:small;
}

#entry_additional_uploads ul {

}

#entry_additional_uploads li {
    background-color:#ddd;
    margin:0;
    margin-bottom:1px;
    padding:10px;
}

#entry_additional_uploads img {
    height:20px;
    border:0;
}

.actions {
    background-color:#ddd;
    margin-bottom:10px;
    padding:5px;
    display:none;
}

.actions * {
    font-size:small;
}

.actions h3 {
    margin:0;
    padding:0;
}

.actions ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

.actions li {
    display:inline;
    margin-right:20px;
    font-weight:bold;
}

#page_entry .actions ul {
    margin-left:5px;
}

#side_nav {
    font-size:13px;
    color:#aaa;
}

#side_nav ul:first-child {
    margin-left:0;
    padding-left:0;
    list-style-type:none;
}

#side_nav ul {
    padding-left:20px;
    list-style-type:disc;
}

#side_nav ul li {
    padding-top:5px;
}

.category_link {
    font-weight: bold;
}

#view_image_box {
    margin-top:50px;
}

#view_image_box h3 {
    margin:0;
    margin-bottom:5px;
}

#view_image_box img {
    height:90px;
    margin-right:10px;
    border:0;
}

#view_attachment_box {
    margin-top:50px;
}

#view_attachment_box h3 {
    margin:0;
    margin-bottom:5px;
}

#view_attachment_box ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

#view_attachment_box li {
    padding:5px;
    border-top:1px solid #ccc;
    font-size:small;
}

#view_attachment_box li img {
    margin-right:10px;
    border:0;
}

#archive_index ul {
    color:#aaa;
}

.mini-menus {
    float:right;
}

.mini-menus .dropdown-menu li a {
    padding-left:10px;
}

li.all-staff-link-box a {
    padding-left:15px;
}

.contacts {
    width:100%;
}

.contacts td {
    padding-right:20px;
}

#all-contacts .table {
    padding:0;
    margin:0;
    margin-top:8px;
}

#all-contacts .table td {
    font-size:12px;
}
